@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

.header > h1 > span {
  font-family: 'Squada One', cursive;
  font-size: 3em;
  background-image: var(--battleship-lg);
  -webkit-background-clip: text;
  color: transparent;
}

@media only screen and (max-width: 445px) {
  .header > h1 > span {
    font-size: 2em;
  }
}
