.square.ship {
  background-color: var(--ship-color);
  border-left: 1px solid var(--ship-color);
  border-right: 1px solid var(--ship-color);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.ship.hidden {
  background-color: white;
}

.square.miss {
  background-color: grey;
}

.ship.hit {
  background-color: red;
}

.ship.sunk {
  background-color: var(--sunk-color);
  border: 1px solid var(--sunk-color);
}

.ship.right-edge {
  border-right: 1px solid black;
}

.ship.left-edge {
  border-left: 1px solid black;
}

.no-click {
  pointer-events: none;
}

.square {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.square.hover-ship {
  background-color: var(--hover-ship-color);
  border-left: 1px solid var(--hover-ship-color);
  border-right: 1px solid var(--hover-ship-color);
  border-bottom: 1px solid var(--hover-ship-color);
  border-top: 1px solid var(--hover-ship-color);
}

@media only screen and (max-width: 445px) {
  .square {
    width: 30px;
    height: 30px;
    border: 1px solid black;
  }

  circle {
    cx: 15;
    cy: 15;
    r: 10;
  }
}