* {
  margin: 0;
  padding: 0;

}

:root {
  --ship-color: #8b949e;
  --sunk-color: #282c34;
  --bg-color:#607D8B;
  --board-color: #49cad7;
  --battleship-lg: linear-gradient(135deg, #1F1C2C 30%, #928DAB 90%);
  --button-color: #212121;
}

html {
  background-color: var(--bg-color);
}

.App {
  text-align: center;
}

.board .board-row {
  display: flex;
  flex-direction: row;
}

.gameboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gameboard .board {
  margin: 0 20px;
  background-color: #49cad7;
}

div.board {
  border: 1px solid black;
}

button {
  margin-top: 15px;
  padding: 8px 20px;
  background-color: var(--button-color);
  color: white;
  border-radius: 4px;
  border: 0px;
  transition: filter 100ms;;
}

button:hover {
  filter: brightness(1.2)
}

@media only screen and (max-width: 950px) {
  .gameboard {
    flex-direction: column;
  }

  .gameboard .board {
    margin: 20px auto;

  }
}